# Dependencies
node_modules/
frontend/node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production/Build
frontend/build/
build/
dist/

# Python Cache & Environments
**/__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs & System files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
